<div class="col-md-3 col-sm-3">
  <div class="btn-group show-on-hover hidden-sm hidden-lg hidden-md Category_full_width_btn">
    <button type="button" class="btn btn-default dropdown-toggle Category_full_width_btn1" data-toggle="dropdown" aria-expanded="false">
      Menu
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu_full_width" role="menu">
      <li>
        <a [routerLink]="['/profile/edit']">Profile info</a>
      </li>
      <li>
        <a [routerLink]="['/profile/contact-info']">Contact info</a>
      </li>
      <li>
        <a [routerLink]="['/profile/account-settings']">Account Settings</a>
      </li>
      <li>
        <a [routerLink]="['/profile/notification']">Notifications</a>
      </li>
      <li>
        <a href="#">Rental History</a>
      </li>
      <li>
        <a href="#">Connect Payouts</a>
      </li>
      <li>
        <a [routerLink]="['/profile/insurance']">3rd Party Insurance</a>
      </li>
      <li>
        <a [routerLink]="['/profile/digital-id']">Digital ID</a>
      </li>
      <li>
        <a [routerLink]="['/profile/connect-social']">Connect Socials</a>
      </li>
      <li>
        <a [routerLink]="['/profile']">
          <button class="btn cart_btns50">View Profile</button>
        </a>
      </li>
    </ul>
  </div>
  <div class="edit_profile_info hidden-xs">
    <ul>
      <li>
        <a [routerLink]="['/profile/edit']">Profile info</a>
      </li>
      <li>
        <a [routerLink]="['/profile/contact-info']">Contact info</a>
      </li>
      <li>
        <a [routerLink]="['/profile/account-settings']">Account Settings</a>
      </li>
      <li>
        <a [routerLink]="['/profile/notification']">Notifications</a>
      </li>
      <li>
        <a href="#">Rental History</a>
      </li>
      <li>
        <a href="#">Connect Payouts</a>
      </li>
      <li>
        <a [routerLink]="['/profile/insurance']">3rd Party Insurance</a>
      </li>
      <li>
        <a [routerLink]="['/profile/digital-id']">Digital ID</a>
      </li>
      <li>
        <a [routerLink]="['/profile/connect-social']">Connect Socials</a>
      </li>
    </ul>
    <button [routerLink]="['/profile']" class="btn cart_btns50">View Profile</button>
  </div>
</div>
