<section class="dashboard_bodynew">
    <div class="top_bresdcum">
        <div class="container">
            <div class="col-md-12">
                Profile Settings
            </div>
        </div>
    </div>
    <div id="contact_form_list">
        <div class="container">
            <div class="row">
                <app-left-sidebar></app-left-sidebar>
                <div class="col-md-9 col-sm-9">
                    <div class="container-contact100 box_shadow_form">
                        <div class="wrap-contact100">
                            <div class="digital_text">
                                <h3>Connect to Australia Post Digital ID</h3>
                                <hr>
                                <p class="margin_top">Australia Post Digital ID lets you verify Yourself so you can easily prove who you are.Your Information will be securely forward to Australia Post.Every member is required to verify their idently before finalising your
                                    first rental.
                                </p>
                                <p>*We required 2/3 documents which can include Passport.Drivers licence or Medicare card.</p>
                                <p>*If your current address is different from the one on your ID.Please let us know in order to speed up the process.
                                </p>
                                <p>*Your Digital ID is stored securely and not shared with anyone else unless there is an investigation.</p>
                            </div>
                            <div class="digital_image_area">
                                <p>Get Started Now</p>
                                <img src="assets/images/digital.jpg" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dropDownSelect1"></div>
            </div>
        </div>
    </div>
</section>